<div class="header">
  <h2>
    <span style="color: blue;">G</span>
    <span style="color: red;">o</span>
    <span style="color: black;">o</span>
    <span style="color: blue;">g</span>
    <span style="color: green;">l</span>
    <span style="color: red;">e </span>
    <span style="color: gray;">Convert</span>
  </h2>
</div>

<div class="content">
  <div class="content1">
    <div class="type">
      <div class="inputType">
        <div class="phathien">Phát hiện kiểu dữ liệu
        </div>
        <div class="dulieumacdinh">
          <select id="converts">
            <option value="string">String</option>
            <option value="base64">Base64</option>
            <option value="bytes">Array Bytes</option>
            <option value="hex">Hex</option>
          </select>
        </div>
      </div>
      <div class="outputType">
        <div class="phathien">Kiểu dữ liệu cần chuyển</div>
        <div class="dulieumacdinh" id="converts">
          <select>
            <option value="string">String</option>
            <option value="base64">Base64</option>
            <option value="bytes">Array Bytes</option>
            <option value="hex">Hex</option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="value">
      <div class="textBox abc">
        <div class="subbox">
          <textarea class="invalue" rows="10">
  
          </textarea>
        </div>
       
      </div>
      <div class="textBox" >
        <div class="subbox">
          <textarea class="outvalue" rows="10">

          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttonconvert">
  <button class="BtnConvert">Thực hiện chuyển đổi</button>
</div>

<div class="footer">

</div>